In [286]:
import pandas as pd
import numpy as np

In [287]:
df = pd.read_csv("PSQI_full.csv")

In [288]:
df.head()

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,11:00:00 PM,30,9:00:00 AM,5,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,1
1,15041,10pm,60 min,7:00AM,6,1.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,2.0,NaN,0,0.0,1
2,21065,9:00:00 PM,35,5:30:00 AM,4-5 hours,3.0,3.0,3.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0,1.0,2
3,21065,9PM,20,6AM,3,3.0,3.0,2.0,3.0,0.0,0.0,3.0,1.0,3.0,3.0,0,0.0,2
4,18867,01:00 a.m.,10,09:00 a.m.,7:30:00 AM,0.0,3.0,3.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1,1.0,1

In [289]:
df.dtypes

id          int64
psqi1      object
psqi2      object
psqi3      object
psqi4      object
psqi5a    float64
psqi5b    float64
psqi5c    float64
psqi5d    float64
psqi5e    float64
psqi5f    float64
psqi5g    float64
psqi5h    float64
psqi5i    float64
psqi5j    float64
psqi6       int64
psqi8     float64
psqi9       int64
dtype: object

In [290]:
df.isnull()

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
25,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
328,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
331,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
332,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
333,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
334,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
335,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
336,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
337,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
338,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False
339,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
344,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
345,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
346,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
347,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
348,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
349,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
350,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
351,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
352,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
353,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
354,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
355,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
356,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [291]:
df.isnull().sum()

id         0
psqi1     14
psqi2      1
psqi3     13
psqi4      5
psqi5a     1
psqi5b     5
psqi5c     3
psqi5d     4
psqi5e     2
psqi5f     2
psqi5g     2
psqi5h     4
psqi5i     2
psqi5j    38
psqi6      0
psqi8      1
psqi9      0
dtype: int64

In [292]:
df[df.psqi1.isnull()]

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
88,31320,NaN,30 minutes,7:20:00 AM,NaN,1.0,2.0,1.0,0.0,0.0,3.0,2.0,0.0,2.0,0.0,2,1.0,1
90,30804,NaN,40 minutes,NaN,5,3.0,3.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3,2.0,1
106,48859,NaN,15 min,NaN,NaN,0.0,3.0,3.0,0.0,0.0,2.0,3.0,1.0,3.0,0.0,0,1.0,1
117,19184,NaN,60min,NaN,41765,3.0,2.0,1.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0,0.0,1
122,15789,NaN,45,NaN,5,1.0,2.0,3.0,0.0,0.0,1.0,3.0,0.0,2.0,1.0,2,2.0,1
123,40376,NaN,up to 30minutes,NaN,up to 6-7,3.0,3.0,2.0,0.0,0.0,1.0,1.0,0.0,3.0,2.0,3,3.0,1
127,37295,NaN,10,NaN,6,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,0.0,1,1.0,1
138,17914,NaN,10 minutes,NaN,NaN,0.0,3.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1
223,15797,NaN,30,NaN,8,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1
226,47501,NaN,2minutes,NaN,6,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0,3.0,0
228,20432,NaN,15-20,NaN,8,2.0,NaN,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0,3.0,1
230,10336,NaN,15to20min,NaN,5to6hr,1.0,3.0,2.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0,2.0,1
233,39463,NaN,15-20,NaN,4-Mar,3.0,3.0,2.0,0.0,0.0,1.0,2.0,3.0,3.0,3.0,3,3.0,3
238,39866,NaN,180minutes,NaN,3hours,3.0,3.0,3.0,0.0,0.0,NaN,3.0,1.0,2.0,1.0,3,2.0,3

In [293]:
dfn = df.dropna(subset=['psqi1','psqi3'], how = 'all',inplace=True)

In [294]:
df.isnull().sum()

id         0
psqi1      1
psqi2      1
psqi3      0
psqi4      3
psqi5a     1
psqi5b     4
psqi5c     3
psqi5d     4
psqi5e     2
psqi5f     1
psqi5g     2
psqi5h     4
psqi5i     2
psqi5j    38
psqi6      0
psqi8      1
psqi9      0
dtype: int64

In [295]:
df[df.psqi5j.isnull()]

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
1,15041,10pm,60 min,7:00AM,6,1.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,2.0,NaN,0,0.0,1
10,40361,12:30am,60,7:30am,6,1.0,2.0,3.0,0.0,3.0,0.0,2.0,2.0,0.0,NaN,0,0.0,1
21,25844,11:00pm,15 minutes,4:30am,5 hours,3.0,3.0,2.0,3.0,2.0,0.0,2.0,2.0,3.0,NaN,0,0.0,1
24,35436,9:00pm,90,5:30am,7,3.0,3.0,3.0,0.0,1.0,0.0,2.0,0.0,0.0,NaN,3,0.0,1
46,30740,8pm,20,7am,8,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,3,0.0,0
51,29621,1am,60,10:00:00 AM,7 hours,3.0,2.0,3.0,0.0,1.0,1.0,1.0,2.0,3.0,NaN,3,2.0,1
58,23946,10:00 AM,60,every day,between 3-6 hours of sleep,2.0,0.0,0.0,3.0,2.0,0.0,3.0,0.0,3.0,NaN,3,0.0,2
65,27048,6:00:00 AM,30,8:00:00 AM,6,3.0,3.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,NaN,0,2.0,2
69,15858,9:30:00 PM,10 Minutes,7:00:00 AM,9 Hours,0.0,3.0,3.0,1.0,3.0,0.0,0.0,0.0,2.0,NaN,0,3.0,1
74,43623,12:00:00 AM,10,8:00:00 AM,7-8 hours,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,NaN,3,0.0,0
80,23388,midnight,30,9;00am,7 hours,0.0,3.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0,0.0,0
82,38401,10:00:00 PM,2,5:00:00 AM,7,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0,1
89,31320,10pm,40,9AM,8hours,2.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,NaN,2,0.0,1
109,21329,11:30:00 PM,7,2:45:00 AM,5,1.0,3.0,3.0,0.0,0.0,2.0,2.0,0.0,3.0,NaN,0,0.0,1
121,24811,10:00 PM,30,9:00 AM,8 hr,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,3,0.0,0
132,14196,12:00am,15,10:am,6 hours,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0,0.0,1
144,45451,11;00 PM,15 MIN,11;30,5 HOURS,1.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,NaN,0,1.0,1
150,37768,12:00:00 AM,60,8:00:00 AM,7 hrs,0.0,2.0,3.0,0.0,0.0,2.0,2.0,0.0,3.0,NaN,3,0.0,1
151,37768,3AM,15,12PM,5,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN,0,2.0,1
172,47998,1:00AM,105,10:00Am,5,0.0,3.0,3.0,2.0,0.0,2.0,2.0,2.0,2.0,NaN,0,1.0,2
175,38541,11:00PM,15,7:15AM,7.5,2.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,2.0,NaN,3,0.0,0
177,17273,9PM,30 minutes,5AM,5 hours,0.0,3.0,3.0,1.0,1.0,1.0,1.0,1.0,3.0,NaN,0,0.0,2
181,23345,9;00 pm,5 minutes,8:30 AM,8 hours,1.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,2.0,NaN,3,2.0,2
182,23345,1:00:00 AM,5 mins,7:30:00 AM,8 hours,0.0,3.0,0.0,0.0,1.0,2.0,1.0,0.0,2.0,NaN,3,2.0,2
195,39107,am,40,10:00am,6,2.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,3.0,NaN,2,3.0,3
213,31464,10:00pm,15,6am,6,2.0,3.0,2.0,0.0,0.0,0.0,2.0,1.0,1.0,NaN,0,0.0,0
222,10197,11:00:00 PM,15,7:00:00 AM,7/8/2016,0.0,0.0,2.0,0.0,1.0,0.0,0.0,2.0,0.0,NaN,3,1.0,1
244,37973,1030pm,20minute,530am,6,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0,0.0,1
288,35792,10:00 PM,3 minutes,3:00 AM,8,0.0,1.0,2.0,0.0,3.0,3.0,0.0,0.0,0.0,NaN,0,0.0,0
291,36334,11:00 PM,90,5AM,4.5,2.0,1.0,3.0,1.0,1.0,0.0,2.0,1.0,3.0,NaN,0,0.0,2
306,42812,4:00 AM,5,12:30 PM,5,0.0,3.0,1.0,0.0,2.0,0.0,3.0,0.0,1.0,NaN,3,1.0,2
308,31180,11:00pm,20 to 30 minutes,7:am,6hrs,3.0,3.0,3.0,0.0,3.0,1.0,3.0,2.0,1.0,NaN,0,2.0,2
310,36161,10:30PM,10,6:40AM,7,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0,0.0,0
323,33434,9:30:00 PM,10/30/2016,5:30:00 AM,6/7/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1
324,42831,93opm,about 20 min,6am,about 6 to 7 hours,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3,0.0,1
333,27411,10:00:00 AM,45,5:00:00 AM,4,3.0,3.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,1,1.0,2
338,29691,3am,40,11am,5,0.0,0.0,3.0,NaN,0.0,2.0,2.0,0.0,2.0,NaN,3,2.0,1
345,48110,2am,5minutes,7am,6,3.0,3.0,0.0,1.0,2.0,2.0,2.0,2.0,1.0,NaN,0,3.0,1

In [296]:
dfn = df['psqi5j'].fillna(value='0',inplace=True)

In [297]:
df['psqi5j'].value_counts()

0.0    227
0       38
1.0     29
3.0     27
2.0     23
Name: psqi5j, dtype: int64

In [298]:
df.isnull().sum()

id        0
psqi1     1
psqi2     1
psqi3     0
psqi4     3
psqi5a    1
psqi5b    4
psqi5c    3
psqi5d    4
psqi5e    2
psqi5f    1
psqi5g    2
psqi5h    4
psqi5i    2
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [299]:
dfn = df.dropna(thresh=10, inplace=True)

In [300]:
df.isnull().sum()

id        0
psqi1     1
psqi2     1
psqi3     0
psqi4     3
psqi5a    0
psqi5b    3
psqi5c    2
psqi5d    3
psqi5e    1
psqi5f    0
psqi5g    1
psqi5h    3
psqi5i    1
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [301]:
dfn = df['psqi5h'].fillna(value='0.0',inplace=True)

In [302]:
df.isnull().sum()

id        0
psqi1     1
psqi2     1
psqi3     0
psqi4     3
psqi5a    0
psqi5b    3
psqi5c    2
psqi5d    3
psqi5e    1
psqi5f    0
psqi5g    1
psqi5h    0
psqi5i    1
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [303]:
dfn = df.drop(df.index[[88]],inplace=True)

In [304]:
df.isnull().sum()

id        0
psqi1     0
psqi2     1
psqi3     0
psqi4     2
psqi5a    0
psqi5b    3
psqi5c    2
psqi5d    3
psqi5e    1
psqi5f    0
psqi5g    1
psqi5h    0
psqi5i    1
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [305]:
dfn = df['psqi4'].fillna(value='6.5',inplace=True)

In [306]:
df.isnull().sum()

id        0
psqi1     0
psqi2     1
psqi3     0
psqi4     0
psqi5a    0
psqi5b    3
psqi5c    2
psqi5d    3
psqi5e    1
psqi5f    0
psqi5g    1
psqi5h    0
psqi5i    1
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [307]:
dfn = df['psqi5b'].fillna(value='3.0',inplace=True)

In [308]:
df.isnull().sum()

id        0
psqi1     0
psqi2     1
psqi3     0
psqi4     0
psqi5a    0
psqi5b    0
psqi5c    2
psqi5d    3
psqi5e    1
psqi5f    0
psqi5g    1
psqi5h    0
psqi5i    1
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [309]:
dfn = df['psqi5d'].fillna(value='0.0',inplace=True)

In [310]:
df.isnull().sum()

id        0
psqi1     0
psqi2     1
psqi3     0
psqi4     0
psqi5a    0
psqi5b    0
psqi5c    2
psqi5d    0
psqi5e    1
psqi5f    0
psqi5g    1
psqi5h    0
psqi5i    1
psqi5j    0
psqi6     0
psqi8     1
psqi9     0
dtype: int64

In [311]:
dfn = df['psqi2'].fillna(value='30',inplace=True)

In [312]:
dfn = df['psqi5c'].fillna(value='3.0',inplace=True)

In [313]:
dfn = df['psqi5e'].fillna(value='0.0',inplace=True)

In [314]:
dfn = df['psqi5g'].fillna(value='0.0',inplace=True)

In [315]:
dfn = df['psqi5i'].fillna(value='0.0',inplace=True)

In [316]:
dfn = df['psqi8'].fillna(value='0.0',inplace=True)

In [317]:
df.isnull().sum()

id        0
psqi1     0
psqi2     0
psqi3     0
psqi4     0
psqi5a    0
psqi5b    0
psqi5c    0
psqi5d    0
psqi5e    0
psqi5f    0
psqi5g    0
psqi5h    0
psqi5i    0
psqi5j    0
psqi6     0
psqi8     0
psqi9     0
dtype: int64

In [318]:
df.isnull().sum().any()

False

In [319]:
df = df.replace({
      'psqi2': '[A-Za-z]',
      'psqi4': '[A-Za-z]',
},'',regex=True)

In [320]:
df

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,11:00:00 PM,30,9:00:00 AM,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,10pm,60,7:00AM,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,9:00:00 PM,35,5:30:00 AM,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,9PM,20,6AM,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,01:00 a.m.,10,09:00 a.m.,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1
5,18867,1:00 AM,10,9:00 AM,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,12:00:00 AM,30,5:00:00 AM,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,12AM,60,8PM,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,11:30:00 PM,25,9:00:00 AM,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,11:00 PM,25,8:30 AM,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,12:30am,60,7:30am,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,12:30 AM,60,7:00 AM,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,11pm,1,6am,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,10pm,2-3,6am,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,11:00:00 PM,30,5:30:00 AM,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,10:00:00 PM,10,5:00am,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,11pm,15,7am,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,11:00 PM,10,7:00 AM,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,830pm,45,7:30:00 AM,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,9:00PM,45,8.30 AM,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
20,46171,10:00:00 PM,40,7,5,1.0,3.0,0,0,0,0.0,0,0,0,0,0,0,0
21,25844,11:00pm,15,4:30am,5,3.0,3,2,3,2,0.0,2,2,3,0,0,0,1
22,35436,7pm,120,6:09:00 AM,6,3.0,3,3,0,0,0.0,2,0,0,0,3,0,1
23,35436,9pm,60,6am,5,3.0,3,3,0,0,0.0,0,0,0,0,3,0,1
24,35436,9:00pm,90,5:30am,7,3.0,3,3,0,1,0.0,2,0,0,0,3,0,1
25,25668,10:30pm,45.,6:30am,7,3.0,3.0,2,1,0,0.0,3,3,2,2,1,2,1
26,49628,11pm,30,800am,7,0.0,1,2,0,0,0.0,2,1,1,0,0,1,1
27,49628,1100 pm,15,600am to 800am,8,0.0,2,3,0,0,0.0,2,0,0,0,0,2,1
28,18657,11:59:00 PM,15,8:00:00 AM,8,1.0,1,1,0,0,0.0,0,0,0,1,0,0,1
29,18657,12:00 PM,15,8:30 AM,8,1.0,1,1,0,0,0.0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,44055,10:00:00 PM,30,8:00AM,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,8:00:00 PM,1,6:00:00 AM,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,10;30 PM,1,9;00 AM,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,9:00PM,20-25,4:30-5:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,9:30:00 PM,20,7:30:00 AM,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,11:00:00 PM,30,8:00:00 AM,8/9/2016,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,10:00:00 AM,45,5:00:00 AM,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,10pm,20,8am,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,8:30PM,10,6:00AM,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,11PM,30,6:30AM,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,11:00:00 PM,15,6:30:00 AM,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,3am,40,11am,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,9:30pm,10,6:45:00 AM,0.302083333,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,pm,10,6:30am,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,12am,45,9am,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,10;30,,8;00 am,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,0,45,400,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,2.00am,3,4.00am5,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,2am,5,7am,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,9:30:00 PM,10,6:30:00 AM,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,10/7/2017,20,6/7/2017,6/8/2017,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,10 p.m.,5,5:15 a.m.,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
349,45127,10;3o pm,605,500AM,4,0.0,3,3,0,0,0.0,0,1,0,0,0,0,2
350,42347,11;00pm,15,5;30am,4-5,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,10pm,10,"5am, like clock work",6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,11:00:00 PM,15,6:00:00 AM,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,10pm,60,6am,5-7,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,10:00pm,15,7:00am,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,10:30:00 PM,2,7:00:00 AM,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,10pm,5,7am,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [321]:
df.replace(['midnight','between','MIDNIGHT'],['00:00:00','','00:00:00'])

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,11:00:00 PM,30,9:00:00 AM,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,10pm,60,7:00AM,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,9:00:00 PM,35,5:30:00 AM,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,9PM,20,6AM,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,01:00 a.m.,10,09:00 a.m.,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1
5,18867,1:00 AM,10,9:00 AM,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,12:00:00 AM,30,5:00:00 AM,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,12AM,60,8PM,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,11:30:00 PM,25,9:00:00 AM,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,11:00 PM,25,8:30 AM,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,12:30am,60,7:30am,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,12:30 AM,60,7:00 AM,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,11pm,1,6am,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,10pm,2-3,6am,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,11:00:00 PM,30,5:30:00 AM,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,10:00:00 PM,10,5:00am,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,11pm,15,7am,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,11:00 PM,10,7:00 AM,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,830pm,45,7:30:00 AM,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,9:00PM,45,8.30 AM,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
20,46171,10:00:00 PM,40,7,5,1.0,3.0,0,0,0,0.0,0,0,0,0,0,0,0
21,25844,11:00pm,15,4:30am,5,3.0,3,2,3,2,0.0,2,2,3,0,0,0,1
22,35436,7pm,120,6:09:00 AM,6,3.0,3,3,0,0,0.0,2,0,0,0,3,0,1
23,35436,9pm,60,6am,5,3.0,3,3,0,0,0.0,0,0,0,0,3,0,1
24,35436,9:00pm,90,5:30am,7,3.0,3,3,0,1,0.0,2,0,0,0,3,0,1
25,25668,10:30pm,45.,6:30am,7,3.0,3.0,2,1,0,0.0,3,3,2,2,1,2,1
26,49628,11pm,30,800am,7,0.0,1,2,0,0,0.0,2,1,1,0,0,1,1
27,49628,1100 pm,15,600am to 800am,8,0.0,2,3,0,0,0.0,2,0,0,0,0,2,1
28,18657,11:59:00 PM,15,8:00:00 AM,8,1.0,1,1,0,0,0.0,0,0,0,1,0,0,1
29,18657,12:00 PM,15,8:30 AM,8,1.0,1,1,0,0,0.0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,44055,10:00:00 PM,30,8:00AM,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,8:00:00 PM,1,6:00:00 AM,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,10;30 PM,1,9;00 AM,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,9:00PM,20-25,4:30-5:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,9:30:00 PM,20,7:30:00 AM,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,11:00:00 PM,30,8:00:00 AM,8/9/2016,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,10:00:00 AM,45,5:00:00 AM,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,10pm,20,8am,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,8:30PM,10,6:00AM,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,11PM,30,6:30AM,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,11:00:00 PM,15,6:30:00 AM,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,3am,40,11am,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,9:30pm,10,6:45:00 AM,0.302083333,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,pm,10,6:30am,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,12am,45,9am,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,10;30,,8;00 am,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,0,45,400,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,2.00am,3,4.00am5,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,2am,5,7am,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,9:30:00 PM,10,6:30:00 AM,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,10/7/2017,20,6/7/2017,6/8/2017,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,10 p.m.,5,5:15 a.m.,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
349,45127,10;3o pm,605,500AM,4,0.0,3,3,0,0,0.0,0,1,0,0,0,0,2
350,42347,11;00pm,15,5;30am,4-5,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,10pm,10,"5am, like clock work",6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,11:00:00 PM,15,6:00:00 AM,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,10pm,60,6am,5-7,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,10:00pm,15,7:00am,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,10:30:00 PM,2,7:00:00 AM,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,10pm,5,7am,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [322]:
df.tail(100)

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
256,26031,3am,30,12pm,8,3.0,3,3,0,0,2.0,0,0,0,0,3,0,1
257,40479,11:00PM,20,7:00AM,6,0.0,0,2,0,2,2.0,2,0,0,0,0,0,1
258,40479,11;00 pm,10,8;30,5,1.0,3,3,2,3,1.0,1,1,3,1,2,3,2
259,22050,10:30pm,2,6:00am,5,0.0,3,3,0,0,3.0,0,0,3,0,0,0,0
260,22050,10:00:00 PM,10,4:30:00 AM,6,2.0,2,3,2,3,3.0,0,0,2,3,0,2,1
261,12312,11:00 PM,15,8:00 AM,8,1.0,1,1,2,2,2.0,1,1,2,1,0,2,1
262,30875,11:00:00 PM,45,7:00:00 AM,7,1.0,2,2,0,0,0.0,0,0,0,0,0,0,1
263,25820,11:oo PM,10,6:45 AM,8,2.0,1,3,0,3,3.0,2,0,3,2,1,0,1
264,25820,11pm,1,7am,6 7,3.0,3,3,1,3,3.0,3,1,3,0,3,2,1
265,34005,11pm,15,7am,9-,0.0,0,0,0,0,1.0,1,0,0,0,0,0,1
266,34005,11pm,30,8am,7,0.0,0,1,0,0,1.0,1,0,0,0,0,0,0
267,36702,1:00 AM,30,10:00 AM,8,2.0,0,3,0,3,0.0,0,0,0,0,0,0,1
268,12090,1AM,30,8AM,7,1.0,2,2,0,0,0.0,2,0,0,0,0,0,1
269,18352,11pm,5,6:40am,7,0.0,1,0,0,0,0.0,0,0,0,0,0,0,0
270,18352,10pm,5,6:45am,8,0.0,2,0,2,0,0.0,1,0,0,0,0,0,1
271,48599,9:00pm,15 20,6:oo am,4 6,0.0,0,0,0,2,2.0,1,1,0,3,0,0,1
272,11343,1100pm,30,630am,5,2.0,3,3,0,2,1.0,0.0,2,1,1,0,1,1
273,11343,7:30 to 8;30 am,15 20,4:30:00 AM,6 8,2.0,3,2,0,1,0.0,2,0,0,0,0,0,1
274,11343,7:30 8:30 on work nites,10 15,4:30:00 AM,6 8,0.0,3,2,0,0,0.0,0,0,0,0,0,0,1
275,12715,12am,0,530am,6,0.0,0,2,0,0,0.0,0,0,2,0,0,0,0
276,12715,pm,35,6,6,2.0,3,2,2,0,0.0,0,1,2,0,0,0,0
277,35282,2:00:00 AM,30,10am,7/8/2016,1.0,0,0,0,0,0.0,0,0,0,0,0,0,0
278,46540,11,15,6.3,7,1.0,1,1,0,0,0.0,0,1,0,0,0,1,1
279,46540,10:00:00 PM,20,5:30:00 AM,7,2.0,2,2,0,0,0.0,0,1,0,0,0,1,1
280,38859,10PM,30,7AM,8,0.0,3,3,0,0,0.0,0,0,1,0,0,0,0
281,12741,11.30pm,3,6.30am,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
282,12741,11.30pm,3,6.30am,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,1
283,28854,9:00 PM,15,4:30 AM,4,1.0,2,2,3,3,2.0,3,0,1,0,2,0,2
284,28854,9:30:00 PM,12,8:30:00 AM,9,0.0,1,2,0,0,2.0,0,0,1,0,3,0,0
285,38006,10:00 PM,40,6:00 AM,6,3.0,3,2,0,3,1.0,2,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,44055,10:00:00 PM,30,8:00AM,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,8:00:00 PM,1,6:00:00 AM,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,10;30 PM,1,9;00 AM,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,9:00PM,20-25,4:30-5:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,9:30:00 PM,20,7:30:00 AM,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,11:00:00 PM,30,8:00:00 AM,8/9/2016,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,10:00:00 AM,45,5:00:00 AM,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,10pm,20,8am,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,8:30PM,10,6:00AM,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,11PM,30,6:30AM,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,11:00:00 PM,15,6:30:00 AM,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,3am,40,11am,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,9:30pm,10,6:45:00 AM,0.302083333,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,pm,10,6:30am,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,12am,45,9am,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,10;30,,8;00 am,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,0,45,400,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,2.00am,3,4.00am5,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,2am,5,7am,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,9:30:00 PM,10,6:30:00 AM,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,10/7/2017,20,6/7/2017,6/8/2017,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,10 p.m.,5,5:15 a.m.,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
349,45127,10;3o pm,605,500AM,4,0.0,3,3,0,0,0.0,0,1,0,0,0,0,2
350,42347,11;00pm,15,5;30am,4-5,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,10pm,10,"5am, like clock work",6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,11:00:00 PM,15,6:00:00 AM,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,10pm,60,6am,5-7,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,10:00pm,15,7:00am,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,10:30:00 PM,2,7:00:00 AM,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,10pm,5,7am,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [323]:
df.shape

(342, 18)

In [324]:
df.to_csv('clean_csv', sep='\t')

In [325]:
df.head()

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,11:00:00 PM,30,9:00:00 AM,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,10pm,60,7:00AM,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,9:00:00 PM,35,5:30:00 AM,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,9PM,20,6AM,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,01:00 a.m.,10,09:00 a.m.,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1

In [326]:
df.columns

Index(['id', 'psqi1', 'psqi2', 'psqi3', 'psqi4', 'psqi5a', 'psqi5b', 'psqi5c',
       'psqi5d', 'psqi5e', 'psqi5f', 'psqi5g', 'psqi5h', 'psqi5i', 'psqi5j',
       'psqi6', 'psqi8', 'psqi9'],
      dtype='object')

In [327]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [328]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [329]:
 df.psqi1 = pd.to_datetime(df.psqi1, errors ='coerce')

/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname M identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname TO identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [330]:
df.head()

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,9:00:00 AM,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,NaT,60,7:00AM,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,5:30:00 AM,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,NaT,20,6AM,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,2018-10-24 01:00:00,10,09:00 a.m.,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1

In [331]:
 df.psqi3 = pd.to_datetime(df.psqi3, errors ='coerce')

/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname M identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [332]:
df.tail(30)

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
327,44055,2018-10-24 22:00:00,30,2018-10-24 08:00:00,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,2018-10-24 20:00:00,1,2018-10-24 06:00:00,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,NaT,1,NaT,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,2018-10-24 21:00:00,20-25,2018-10-24 09:30:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,2018-10-24 21:30:00,20,2018-10-24 07:30:00,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,2018-10-24 23:00:00,30,2018-10-24 08:00:00,8/9/2016,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,2018-10-24 10:00:00,45,2018-10-24 05:00:00,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,NaT,20,NaT,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,2018-10-24 20:30:00,10,2018-10-24 06:00:00,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,NaT,30,2018-10-24 06:30:00,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,2018-10-24 23:00:00,15,2018-10-24 06:30:00,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,NaT,40,NaT,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,2018-10-24 21:30:00,10,2018-10-24 06:45:00,0.302083333,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,NaT,10,2018-10-24 06:30:00,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,NaT,45,NaT,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,NaT,,NaT,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,NaT,45,NaT,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,NaT,3,NaT,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,NaT,5,NaT,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,2017-10-07 00:00:00,20,2017-06-07 00:00:00,6/8/2017,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,NaT,5,2018-10-24 05:15:00,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
349,45127,NaT,605,NaT,4,0.0,3,3,0,0,0.0,0,1,0,0,0,0,2
350,42347,NaT,15,NaT,4-5,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,NaT,10,NaT,6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,2018-10-24 23:00:00,15,2018-10-24 06:00:00,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,NaT,60,NaT,5-7,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,2018-10-24 22:00:00,15,2018-10-24 07:00:00,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,2018-10-24 22:30:00,2,2018-10-24 07:00:00,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,NaT,5,NaT,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [333]:
df.isnull().sum()

id          0
psqi1     133
psqi2       0
psqi3     121
psqi4       0
psqi5a      0
psqi5b      0
psqi5c      0
psqi5d      0
psqi5e      0
psqi5f      0
psqi5g      0
psqi5h      0
psqi5i      0
psqi5j      0
psqi6       0
psqi8       0
psqi9       0
dtype: int64

In [334]:
df['psqi1'] = df['psqi1'].fillna(method='ffill')

In [335]:
df.head()

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,2018-10-24 09:00:00,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,2018-10-24 23:00:00,60,2018-10-24 07:00:00,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,2018-10-24 05:30:00,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,2018-10-24 21:00:00,20,NaT,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1

In [336]:
df['psqi3'] = df['psqi3'].fillna(method='ffill')

In [337]:
df.head(20)

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,2018-10-24 09:00:00,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,2018-10-24 23:00:00,60,2018-10-24 07:00:00,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,2018-10-24 05:30:00,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,2018-10-24 21:00:00,20,2018-10-24 05:30:00,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1
5,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,2018-10-24 00:00:00,30,2018-10-24 05:00:00,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,2018-10-24 00:00:00,60,2018-10-24 05:00:00,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,2018-10-24 23:30:00,25,2018-10-24 09:00:00,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,2018-10-24 23:00:00,25,2018-10-24 08:30:00,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,2018-10-24 00:30:00,60,2018-10-24 07:30:00,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,2018-10-24 00:30:00,60,2018-10-24 07:00:00,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,2018-10-24 00:30:00,1,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,2018-10-24 00:30:00,2-3,2018-10-24 07:00:00,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,2018-10-24 23:00:00,30,2018-10-24 05:30:00,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,2018-10-24 22:00:00,10,2018-10-24 05:00:00,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,2018-10-24 22:00:00,15,2018-10-24 05:00:00,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,2018-10-24 23:00:00,10,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,2018-10-24 23:00:00,45,2018-10-24 07:30:00,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,2018-10-24 21:00:00,45,2018-10-24 07:30:00,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0

In [338]:
df.isnull().sum()

id        0
psqi1     0
psqi2     0
psqi3     0
psqi4     0
psqi5a    0
psqi5b    0
psqi5c    0
psqi5d    0
psqi5e    0
psqi5f    0
psqi5g    0
psqi5h    0
psqi5i    0
psqi5j    0
psqi6     0
psqi8     0
psqi9     0
dtype: int64

In [339]:
df.head(60)

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,2018-10-24 09:00:00,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,2018-10-24 23:00:00,60,2018-10-24 07:00:00,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,2018-10-24 05:30:00,4-5,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,2018-10-24 21:00:00,20,2018-10-24 05:30:00,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
4,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7:30:00,0.0,3,3,0,1,1.0,1,0,1,0,1,1,1
5,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,2018-10-24 00:00:00,30,2018-10-24 05:00:00,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,2018-10-24 00:00:00,60,2018-10-24 05:00:00,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,2018-10-24 23:30:00,25,2018-10-24 09:00:00,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,2018-10-24 23:00:00,25,2018-10-24 08:30:00,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,2018-10-24 00:30:00,60,2018-10-24 07:30:00,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,2018-10-24 00:30:00,60,2018-10-24 07:00:00,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,2018-10-24 00:30:00,1,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,2018-10-24 00:30:00,2-3,2018-10-24 07:00:00,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,2018-10-24 23:00:00,30,2018-10-24 05:30:00,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,2018-10-24 22:00:00,10,2018-10-24 05:00:00,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,2018-10-24 22:00:00,15,2018-10-24 05:00:00,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,2018-10-24 23:00:00,10,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,2018-10-24 23:00:00,45,2018-10-24 07:30:00,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,2018-10-24 21:00:00,45,2018-10-24 07:30:00,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
20,46171,2018-10-24 22:00:00,40,2018-10-24 07:30:00,5,1.0,3.0,0,0,0,0.0,0,0,0,0,0,0,0
21,25844,2018-10-24 23:00:00,15,2018-10-24 04:30:00,5,3.0,3,2,3,2,0.0,2,2,3,0,0,0,1
22,35436,2018-10-24 23:00:00,120,2018-10-24 06:09:00,6,3.0,3,3,0,0,0.0,2,0,0,0,3,0,1
23,35436,2018-10-24 23:00:00,60,2018-10-24 06:09:00,5,3.0,3,3,0,0,0.0,0,0,0,0,3,0,1
24,35436,2018-10-24 21:00:00,90,2018-10-24 05:30:00,7,3.0,3,3,0,1,0.0,2,0,0,0,3,0,1
25,25668,2018-10-24 22:30:00,45.,2018-10-24 06:30:00,7,3.0,3.0,2,1,0,0.0,3,3,2,2,1,2,1
26,49628,2018-10-24 22:30:00,30,2018-10-24 06:30:00,7,0.0,1,2,0,0,0.0,2,1,1,0,0,1,1
27,49628,2018-10-24 22:30:00,15,2018-10-24 06:30:00,8,0.0,2,3,0,0,0.0,2,0,0,0,0,2,1
28,18657,2018-10-24 23:59:00,15,2018-10-24 08:00:00,8,1.0,1,1,0,0,0.0,0,0,0,1,0,0,1
29,18657,2018-10-24 12:00:00,15,2018-10-24 08:30:00,8,1.0,1,1,0,0,0.0,0,0,0,1,1,1,1
30,16161,2018-10-24 01:30:00,15,2018-10-24 07:30:00,4.5,0.0,3,3,0,0,0.0,1,0,1,0,0,0,1
31,16161,2018-10-24 03:00:00,20,2018-10-24 08:00:00,4.5,0.0,1,3,0,0,0.0,0,0,3,0,2,0,2
32,33556,2018-10-24 04:00:00,5,2018-10-24 07:00:00,3,1.0,0,0,0,0,0.0,0,0,2,3,3,0,3
33,45212,2018-10-24 23:00:00,3,2018-10-24 07:00:00,7,0.0,2,0,1,1,0.0,0,0,1,0,0,1,1
34,31449,2018-10-24 23:00:00,20,2018-10-24 06:45:00,6,1.0,3,3,0,0,2.0,1,0,0,0,0,0,2
35,31449,2018-10-24 23:15:00,30,2018-10-24 06:45:00,5,1.0,3,3,0,0,2.0,0,0,0,0,0,0,2
36,23020,2018-10-24 21:00:00,5,2018-10-24 07:00:00,10,0.0,2,2,0,0,2.0,0,1,0,3,1,2,1
37,33708,2018-10-24 21:00:00,100,2018-10-24 04:00:00,5,3.0,3,3,3,3,1.0,1,0,3,3,0,3,3
38,33708,2018-10-24 21:00:00,15,2018-10-24 03:30:00,4-6,2.0,3,1,0,2,0.0,0,0,0,0,0,1,2
39,35221,2018-10-24 23:30:00,2,2018-10-24 07:00:00,7.5,0.0,0,0,0,3,1.0,1,0,0.0,0,0,1,2
40,44204,2018-10-24 11:30:00,20,2018-10-24 08:00:00,7.5,0.0,2,3,0,0,1.0,1,0,1,1,0,1,1
41,44204,2018-10-24 11:30:00,20-,2018-10-24 08:00:00,7,1.0,1,3,0,0,1.0,1,0,0,1,0,1,1
42,44204,2018-10-24 00:00:00,10/30/2017,2018-10-24 08:00:00,6/8/2017,1.0,2,3,0,0,1.0,1,0,0,0,0,1,1
43,20677,2018-10-24 21:00:00,30,2018-10-24 04:00:00,6.5,2.0,1,3,0,0,0.0,0,0,2,2,3,0,1
44,20677,2018-10-24 20:30:00,12,2018-10-24 04:45:00,7,0.0,0,2,0,0,0.0,0,0,0,0,0,0,1
45,30740,2018-10-24 22:00:00,10,2018-10-24 08:00:00,6,0.0,2,3,1,0,3.0,0,3,3,3,3,3,3
46,30740,2018-10-24 22:00:00,20,2018-10-24 08:00:00,8,0.0,0,3,0,0,0.0,0,0,1,0,3,0,0
47,30740,2018-10-24 22:00:00,15,2018-10-24 08:00:00,9,0.0,3,3,0,3,3.0,3,3,2,0,0,0,1
48,40931,2018-10-24 22:30:00,30,2018-10-24 06:30:00,7.5,1.0,0,1,0,0,3.0,3,0,0,0,0,0,1
49,17167,2018-10-24 22:30:00,1,2018-10-24 06:30:00,5,0.0,0,0,0,0,1.0,1,2,0,2,0,0,1
50,17167,2018-10-24 22:00:00,1-3,2018-10-24 05:00:00,7,0.0,0,1,0,0,1.0,0,0,0,0,0,0,0
51,29621,2018-10-24 22:00:00,60,2018-10-24 10:00:00,7,3.0,2,3,0,1,1.0,1,2,3,0,3,2,1
52,21236,2018-10-24 22:00:00,5,2018-10-24 02:00:00,6,2.0,3,2,3,3,3.0,3,1,3,3,3,2,1
53,32821,2018-10-24 22:00:00,15,2018-10-24 00:30:00,6.5,0.0,0,0,0,0,0.0,0,1,0,0,0,0,1
54,32821,2018-10-24 22:00:00,10,2018-10-24 00:30:00,7,1.0,0,1,0,0,0.0,0,1,0,1,0,0,1
55,41894,2018-10-24 22:00:00,5,2018-10-24 00:30:00,3,1.0,1,1,0,0,0.0,0,1,0,3,0,0,1
56,11699,2018-10-24 23:30:00,25,2018-10-24 06:00:00,6,2.0,2,1,2,3,0.0,0,0,0,2,0,2,2
57,23946,2018-10-24 05:00:00,60,2018-10-24 12:30:00,6.5,3.0,0,0,0,0,0.0,0,0,3,0,0,0,2
58,23946,2018-10-24 10:00:00,60,2018-10-24 12:30:00,3-6,2.0,0,0,3,2,0.0,3,0,3,0,3,0,2
59,47220,2018-10-24 10:00:00,20,2018-10-24 12:30:00,6,0.0,1,1,0,0,0.0,1,0,0,0,0,0,0

In [340]:
df.drop(df.index[[42]],inplace=True)

In [341]:
df.drop(df.index[[4]],inplace=True)

In [342]:
df = df.replace({
      'psqi2': '[A-Za-z-]',
      'psqi4': '[A-Za-z-]',
},'',regex=True)

In [343]:
df

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,2018-10-24 09:00:00,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,2018-10-24 23:00:00,60,2018-10-24 07:00:00,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,2018-10-24 05:30:00,45,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,2018-10-24 21:00:00,20,2018-10-24 05:30:00,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
5,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,2018-10-24 00:00:00,30,2018-10-24 05:00:00,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,2018-10-24 00:00:00,60,2018-10-24 05:00:00,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,2018-10-24 23:30:00,25,2018-10-24 09:00:00,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,2018-10-24 23:00:00,25,2018-10-24 08:30:00,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,2018-10-24 00:30:00,60,2018-10-24 07:30:00,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,2018-10-24 00:30:00,60,2018-10-24 07:00:00,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,2018-10-24 00:30:00,1,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,2018-10-24 00:30:00,23,2018-10-24 07:00:00,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,2018-10-24 23:00:00,30,2018-10-24 05:30:00,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,2018-10-24 22:00:00,10,2018-10-24 05:00:00,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,2018-10-24 22:00:00,15,2018-10-24 05:00:00,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,2018-10-24 23:00:00,10,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,2018-10-24 23:00:00,45,2018-10-24 07:30:00,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,2018-10-24 21:00:00,45,2018-10-24 07:30:00,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
20,46171,2018-10-24 22:00:00,40,2018-10-24 07:30:00,5,1.0,3.0,0,0,0,0.0,0,0,0,0,0,0,0
21,25844,2018-10-24 23:00:00,15,2018-10-24 04:30:00,5,3.0,3,2,3,2,0.0,2,2,3,0,0,0,1
22,35436,2018-10-24 23:00:00,120,2018-10-24 06:09:00,6,3.0,3,3,0,0,0.0,2,0,0,0,3,0,1
23,35436,2018-10-24 23:00:00,60,2018-10-24 06:09:00,5,3.0,3,3,0,0,0.0,0,0,0,0,3,0,1
24,35436,2018-10-24 21:00:00,90,2018-10-24 05:30:00,7,3.0,3,3,0,1,0.0,2,0,0,0,3,0,1
25,25668,2018-10-24 22:30:00,45.,2018-10-24 06:30:00,7,3.0,3.0,2,1,0,0.0,3,3,2,2,1,2,1
26,49628,2018-10-24 22:30:00,30,2018-10-24 06:30:00,7,0.0,1,2,0,0,0.0,2,1,1,0,0,1,1
27,49628,2018-10-24 22:30:00,15,2018-10-24 06:30:00,8,0.0,2,3,0,0,0.0,2,0,0,0,0,2,1
28,18657,2018-10-24 23:59:00,15,2018-10-24 08:00:00,8,1.0,1,1,0,0,0.0,0,0,0,1,0,0,1
29,18657,2018-10-24 12:00:00,15,2018-10-24 08:30:00,8,1.0,1,1,0,0,0.0,0,0,0,1,1,1,1
30,16161,2018-10-24 01:30:00,15,2018-10-24 07:30:00,4.5,0.0,3,3,0,0,0.0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,44055,2018-10-24 22:00:00,30,2018-10-24 08:00:00,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,2018-10-24 20:00:00,1,2018-10-24 06:00:00,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,2018-10-24 20:00:00,1,2018-10-24 06:00:00,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,2018-10-24 21:00:00,2025,2018-10-24 09:30:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,2018-10-24 21:30:00,20,2018-10-24 07:30:00,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,2018-10-24 23:00:00,30,2018-10-24 08:00:00,8/9/2016,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,2018-10-24 10:00:00,45,2018-10-24 05:00:00,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,2018-10-24 10:00:00,20,2018-10-24 05:00:00,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,2018-10-24 20:30:00,10,2018-10-24 06:00:00,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,2018-10-24 20:30:00,30,2018-10-24 06:30:00,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,2018-10-24 23:00:00,15,2018-10-24 06:30:00,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,2018-10-24 23:00:00,40,2018-10-24 06:30:00,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,2018-10-24 21:30:00,10,2018-10-24 06:45:00,0.302083333,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,2018-10-24 21:30:00,45,2018-10-24 06:30:00,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,2018-10-24 21:30:00,,2018-10-24 06:30:00,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,2018-10-24 21:30:00,45,2018-10-24 06:30:00,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,2018-10-24 21:30:00,3,2018-10-24 06:30:00,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,2018-10-24 21:30:00,5,2018-10-24 06:30:00,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,2017-10-07 00:00:00,20,2017-06-07 00:00:00,6/8/2017,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,2017-10-07 00:00:00,5,2018-10-24 05:15:00,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
349,45127,2017-10-07 00:00:00,605,2018-10-24 05:15:00,4,0.0,3,3,0,0,0.0,0,1,0,0,0,0,2
350,42347,2017-10-07 00:00:00,15,2018-10-24 05:15:00,45,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,2017-10-07 00:00:00,10,2018-10-24 05:15:00,6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,2018-10-24 23:00:00,15,2018-10-24 06:00:00,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,2018-10-24 23:00:00,60,2018-10-24 06:00:00,57,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,2018-10-24 22:00:00,15,2018-10-24 07:00:00,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,2018-10-24 22:30:00,2,2018-10-24 07:00:00,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,2018-10-24 22:30:00,5,2018-10-24 07:00:00,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [344]:
df.drop(df.index[[332]])

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,2018-10-24 09:00:00,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,2018-10-24 23:00:00,60,2018-10-24 07:00:00,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,2018-10-24 05:30:00,45,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,2018-10-24 21:00:00,20,2018-10-24 05:30:00,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
5,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,2018-10-24 00:00:00,30,2018-10-24 05:00:00,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,2018-10-24 00:00:00,60,2018-10-24 05:00:00,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,2018-10-24 23:30:00,25,2018-10-24 09:00:00,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,2018-10-24 23:00:00,25,2018-10-24 08:30:00,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,2018-10-24 00:30:00,60,2018-10-24 07:30:00,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,2018-10-24 00:30:00,60,2018-10-24 07:00:00,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,2018-10-24 00:30:00,1,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,2018-10-24 00:30:00,23,2018-10-24 07:00:00,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,2018-10-24 23:00:00,30,2018-10-24 05:30:00,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,2018-10-24 22:00:00,10,2018-10-24 05:00:00,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,2018-10-24 22:00:00,15,2018-10-24 05:00:00,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,2018-10-24 23:00:00,10,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,2018-10-24 23:00:00,45,2018-10-24 07:30:00,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,2018-10-24 21:00:00,45,2018-10-24 07:30:00,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
20,46171,2018-10-24 22:00:00,40,2018-10-24 07:30:00,5,1.0,3.0,0,0,0,0.0,0,0,0,0,0,0,0
21,25844,2018-10-24 23:00:00,15,2018-10-24 04:30:00,5,3.0,3,2,3,2,0.0,2,2,3,0,0,0,1
22,35436,2018-10-24 23:00:00,120,2018-10-24 06:09:00,6,3.0,3,3,0,0,0.0,2,0,0,0,3,0,1
23,35436,2018-10-24 23:00:00,60,2018-10-24 06:09:00,5,3.0,3,3,0,0,0.0,0,0,0,0,3,0,1
24,35436,2018-10-24 21:00:00,90,2018-10-24 05:30:00,7,3.0,3,3,0,1,0.0,2,0,0,0,3,0,1
25,25668,2018-10-24 22:30:00,45.,2018-10-24 06:30:00,7,3.0,3.0,2,1,0,0.0,3,3,2,2,1,2,1
26,49628,2018-10-24 22:30:00,30,2018-10-24 06:30:00,7,0.0,1,2,0,0,0.0,2,1,1,0,0,1,1
27,49628,2018-10-24 22:30:00,15,2018-10-24 06:30:00,8,0.0,2,3,0,0,0.0,2,0,0,0,0,2,1
28,18657,2018-10-24 23:59:00,15,2018-10-24 08:00:00,8,1.0,1,1,0,0,0.0,0,0,0,1,0,0,1
29,18657,2018-10-24 12:00:00,15,2018-10-24 08:30:00,8,1.0,1,1,0,0,0.0,0,0,0,1,1,1,1
30,16161,2018-10-24 01:30:00,15,2018-10-24 07:30:00,4.5,0.0,3,3,0,0,0.0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,10800,2018-10-24 10:30:00,45,2018-10-24 03:00:00,6,3.0,3,0,0,1,0.0,0,0,2,0,0,1,1
327,44055,2018-10-24 22:00:00,30,2018-10-24 08:00:00,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,2018-10-24 20:00:00,1,2018-10-24 06:00:00,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,2018-10-24 20:00:00,1,2018-10-24 06:00:00,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,2018-10-24 21:00:00,2025,2018-10-24 09:30:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,2018-10-24 21:30:00,20,2018-10-24 07:30:00,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,2018-10-24 23:00:00,30,2018-10-24 08:00:00,8/9/2016,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,2018-10-24 10:00:00,45,2018-10-24 05:00:00,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,2018-10-24 10:00:00,20,2018-10-24 05:00:00,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,2018-10-24 20:30:00,10,2018-10-24 06:00:00,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,2018-10-24 20:30:00,30,2018-10-24 06:30:00,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,2018-10-24 23:00:00,15,2018-10-24 06:30:00,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,2018-10-24 23:00:00,40,2018-10-24 06:30:00,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,2018-10-24 21:30:00,10,2018-10-24 06:45:00,0.302083333,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,2018-10-24 21:30:00,45,2018-10-24 06:30:00,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,2018-10-24 21:30:00,,2018-10-24 06:30:00,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,2018-10-24 21:30:00,45,2018-10-24 06:30:00,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,2018-10-24 21:30:00,3,2018-10-24 06:30:00,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,2018-10-24 21:30:00,5,2018-10-24 06:30:00,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,2017-10-07 00:00:00,20,2017-06-07 00:00:00,6/8/2017,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,2017-10-07 00:00:00,5,2018-10-24 05:15:00,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
350,42347,2017-10-07 00:00:00,15,2018-10-24 05:15:00,45,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,2017-10-07 00:00:00,10,2018-10-24 05:15:00,6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,2018-10-24 23:00:00,15,2018-10-24 06:00:00,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,2018-10-24 23:00:00,60,2018-10-24 06:00:00,57,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,2018-10-24 22:00:00,15,2018-10-24 07:00:00,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,2018-10-24 22:30:00,2,2018-10-24 07:00:00,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,2018-10-24 22:30:00,5,2018-10-24 07:00:00,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [345]:
df.head(100)

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
0,15041,2018-10-24 23:00:00,30,2018-10-24 09:00:00,5,3.0,3,3,0,0,0.0,0,0,1,0,0,0,1
1,15041,2018-10-24 23:00:00,60,2018-10-24 07:00:00,6,1.0,2,2,0,0,0.0,2,2,2,0,0,0,1
2,21065,2018-10-24 21:00:00,35,2018-10-24 05:30:00,45,3.0,3,3,1,1,1.0,1,0,1,1,0,1,2
3,21065,2018-10-24 21:00:00,20,2018-10-24 05:30:00,3,3.0,3,2,3,0,0.0,3,1,3,3,0,0,2
5,18867,2018-10-24 01:00:00,10,2018-10-24 09:00:00,7.5,0.0,2,3,0,1,0.0,1,0,2,1,0,1,1
6,29029,2018-10-24 00:00:00,30,2018-10-24 05:00:00,5,3.0,2,3,3,3,2.0,0,0,3,0,0,3,1
7,27131,2018-10-24 00:00:00,60,2018-10-24 05:00:00,6,3.0,3,3,3,2,3.0,0,0,2,0,1,1,1
8,16528,2018-10-24 23:30:00,25,2018-10-24 09:00:00,7,2.0,1,3,0,0,0.0,1,0,0,0,1,0,1
9,16528,2018-10-24 23:00:00,25,2018-10-24 08:30:00,6,2.0,3,3,0,1,0.0,1,0,0,0,0,0,2
10,40361,2018-10-24 00:30:00,60,2018-10-24 07:30:00,6,1.0,2,3,0,3,0.0,2,2,0,0,0,0,1
11,40361,2018-10-24 00:30:00,60,2018-10-24 07:00:00,5,3.0,0,3,0,0,0.0,3,0,0,0,0,0,1
12,34645,2018-10-24 00:30:00,1,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
13,34645,2018-10-24 00:30:00,23,2018-10-24 07:00:00,7,0.0,0,1,0,0,0.0,2,0,0,0,0,0,0
14,21236,2018-10-24 23:00:00,30,2018-10-24 05:30:00,5,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
15,21236,2018-10-24 22:00:00,10,2018-10-24 05:00:00,5,1.0,1,2,0,0,0.0,0,0,1,1,0,1,1
16,11465,2018-10-24 22:00:00,15,2018-10-24 05:00:00,6.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
17,11465,2018-10-24 23:00:00,10,2018-10-24 07:00:00,7,0.0,0,0,0,0,0.0,0,0,0,0,0,0,1
18,46171,2018-10-24 23:00:00,45,2018-10-24 07:30:00,6,1.0,3,1,0,0,0.0,0,0,0,0,3,2,0
19,46171,2018-10-24 21:00:00,45,2018-10-24 07:30:00,12,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
20,46171,2018-10-24 22:00:00,40,2018-10-24 07:30:00,5,1.0,3.0,0,0,0,0.0,0,0,0,0,0,0,0
21,25844,2018-10-24 23:00:00,15,2018-10-24 04:30:00,5,3.0,3,2,3,2,0.0,2,2,3,0,0,0,1
22,35436,2018-10-24 23:00:00,120,2018-10-24 06:09:00,6,3.0,3,3,0,0,0.0,2,0,0,0,3,0,1
23,35436,2018-10-24 23:00:00,60,2018-10-24 06:09:00,5,3.0,3,3,0,0,0.0,0,0,0,0,3,0,1
24,35436,2018-10-24 21:00:00,90,2018-10-24 05:30:00,7,3.0,3,3,0,1,0.0,2,0,0,0,3,0,1
25,25668,2018-10-24 22:30:00,45.,2018-10-24 06:30:00,7,3.0,3.0,2,1,0,0.0,3,3,2,2,1,2,1
26,49628,2018-10-24 22:30:00,30,2018-10-24 06:30:00,7,0.0,1,2,0,0,0.0,2,1,1,0,0,1,1
27,49628,2018-10-24 22:30:00,15,2018-10-24 06:30:00,8,0.0,2,3,0,0,0.0,2,0,0,0,0,2,1
28,18657,2018-10-24 23:59:00,15,2018-10-24 08:00:00,8,1.0,1,1,0,0,0.0,0,0,0,1,0,0,1
29,18657,2018-10-24 12:00:00,15,2018-10-24 08:30:00,8,1.0,1,1,0,0,0.0,0,0,0,1,1,1,1
30,16161,2018-10-24 01:30:00,15,2018-10-24 07:30:00,4.5,0.0,3,3,0,0,0.0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,14026,2018-10-25 09:30:00,10,2018-10-24 07:30:00,5/6/2016,0.0,2,3,0,0,1.0,0,0,0,2,0,0,1
73,14026,2018-10-24 23:00:00,42870,2018-10-24 08:00:00,7,0.0,3,3,1,1,0.0,0,1,0,3,2,0,1
74,43623,2018-10-24 00:00:00,10,2018-10-24 08:00:00,78,0.0,0,3,0,0,0.0,3,0,0,0,3,0,0
75,43623,2018-10-24 23:00:00,10,2018-10-24 09:00:00,8,1.0,3,3,0,0,0.0,3,0,0,0,0,0,0
76,43623,2018-10-24 12:00:00,15,2018-10-24 08:00:00,8,0.0,0,3,0,0,0.0,0,0,0,0,0,0,0
77,49137,2018-10-24 12:00:00,25,2018-10-24 08:00:00,4,2.0,2,3,0,0,0.0,1,0,3,0,3,0,1
78,49137,2018-10-24 20:00:00,4,2018-10-24 08:00:00,4,2.0,1,2,1,1,1.0,1,0.0,0,2,2,1,1
79,35829,2018-10-24 00:00:00,60,2018-10-24 06:00:00,5,0.0,2,2,0,2,0.0,0,0,0,0,0,0,0
80,23388,2018-10-24 00:00:00,30,2018-10-24 06:00:00,7,0.0,3,3,0,0,1.0,0,0,0,0,0,0,0
81,38401,2018-10-24 00:00:00,5,2018-10-24 06:00:00,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
82,38401,2018-10-24 22:00:00,2,2018-10-24 05:00:00,7,0.0,1,0,0,0,0.0,0,0,1,0,0,0,1
83,40914,2018-10-24 23:00:00,5,2018-10-24 06:30:00,7,0.0,3,2,0,0,1.0,0,0,0,0,0,0,0
84,31738,2018-10-24 23:00:00,15,2018-10-24 06:30:00,5.5,0.0,1,0,0,2,0.0,0,1,0,0,0,0,1
85,21619,2018-10-24 23:00:00,15,2018-10-24 05:30:00,6,0.0,1,2,0,0,0.0,0,0,0,0,0,0,0
86,21619,2018-10-24 23:00:00,10,2018-10-24 05:30:00,6.5,1.0,0,0,0,0,0.0,0,0,0,0,0,0,0
87,34210,2018-10-24 23:00:00,120,2018-10-24 05:30:00,5,3.0,3,1,0.0,0,0.0,0,0,0,0,3,0,2
89,31320,2018-10-24 23:00:00,40,2018-10-24 05:30:00,8,2.0,2,1,0,0,0.0,1,1,3,0,2,0,1
91,30804,2018-10-24 22:00:00,30,2018-10-24 05:00:00,5 6,3.0,2,2,1,2,1.0,2,1,2,0,1,2,2
92,14392,2018-10-24 23:00:00,40,2018-10-24 08:30:00,7,3.0,2,3,0,0,0.0,0,0,0,1,2,1,1
93,39056,2018-10-24 00:30:00,15,2018-10-24 07:00:00,6.5,1.0,1,1,0,0,0.0,0,0,0,0,0,0,0
94,24558,2018-10-24 22:00:00,15,2018-10-24 06:00:00,8,0.0,1,0,0,1,3.0,0,0,0,0,3,0,1
95,10824,2018-10-24 01:00:00,45,2018-10-24 09:00:00,4,2.0,0,0,0,0,0.0,0,0,0,0,0,0,1
96,10824,2018-10-24 01:00:00,120,2018-10-24 11:00:00,6,0.0,1,1,0,0,0.0,1,1,1,1,1,0,2
97,10824,2018-10-24 02:00:00,15,2018-10-24 13:00:00,8,1.0,0,1,1,1,0.0,2,0,3,1,2,1,0
98,43802,2018-10-24 23:00:00,20,2018-10-24 09:00:00,89,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
99,43802,2018-10-24 23:30:00,1530,2018-10-24 17:30:00,78 ',0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
100,37461,2018-10-24 23:30:00,10,2018-10-24 17:30:00,5,0.0,1,1,0,0,0.0,0,0,0,0,0,0,0
101,37461,2018-10-24 20:00:00,3,2018-10-24 22:00:00,3,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
102,14100,2018-10-24 20:00:00,30,2018-10-24 22:00:00,7,3.0,3,3,0,0,0.0,0,0,0,0,1,0,0
103,26641,2018-10-24 22:00:00,30,2018-10-24 07:30:00,8,2.0,3,3,0,0,0.0,0,0,0,1,3,0,1

In [346]:
df.shape

(340, 18)

In [347]:
df['psqi4'].replace(
    to_replace=['0.302083333', '6:45:00','8/9/2016','7/8/2016','5/6/2016','6/8/2017'],
    value='5.5',
    inplace=True
)

In [348]:
df.tail(50)

,id,psqi1,psqi2,psqi3,psqi4,psqi5a,psqi5b,psqi5c,psqi5d,psqi5e,psqi5f,psqi5g,psqi5h,psqi5i,psqi5j,psqi6,psqi8,psqi9
306,42812,2018-10-24 04:00:00,5,2018-10-24 12:30:00,5,0.0,3,1,0,2,0.0,3,0,1,0,3,1,2
307,42812,2018-10-24 04:00:00,3,2018-10-24 12:30:00,4,0.0,3,1,0,0,0.0,1,0,0,0,0,1,1
308,31180,2018-10-24 23:00:00,20 30,2018-10-24 12:30:00,6,3.0,3,3,0,3,1.0,3,2,1,0,0,2,2
309,27370,2018-10-24 23:30:00,10,2018-10-24 07:15:00,5,1.0,3,2,0,0,1.0,0,0,1,2,0,0,1
310,36161,2018-10-24 22:30:00,10,2018-10-24 06:40:00,7,1.0,2,0,0,0,0.0,0,0,0,0,0,0,0
311,36161,2018-10-24 22:30:00,42865,2018-10-24 06:30:00,7,0.0,1,0,0,0,0.0,0,0,0,0,0,0,0
312,17754,2018-10-24 22:00:00,30,2018-10-24 06:00:00,8,0.0,0,1,0,0,0.0,0,0,0,0,0,0,1
313,25060,2018-10-24 21:45:00,15,2018-10-24 06:00:00,7,0.0,3,3,0,0,0.0,0,0,0,0,0,2,1
314,26121,2018-10-24 22:30:00,10,2018-10-24 05:00:00,6,1.0,2,3,0,0,0.0,0,0,0,0,3,1,1
315,20249,2018-10-24 23:00:00,5 10,2018-10-24 05:00:00,6,0.0,1,1,0,2,1.0,1,0,2,0,0,0,0
316,13382,2018-10-24 10:30:00,20,2018-10-24 05:00:00,8,0.0,0,3,3,3,0.0,0,0,0,0,3,2,2
317,44848,2018-10-24 01:00:00,15,2018-10-24 10:00:00,8,1.0,3,3,1,0,1.0,3,0,3,3,2,3,1
318,44848,2018-10-24 00:00:00,10,2018-10-24 07:30:00,771/2,0.0,3,3,0,1,1.0,3,0,3,0,0,1,1
319,36714,2018-10-24 00:00:00,1 2,2018-10-24 07:30:00,3 8,3.0,3,3,3,3,3.0,0,2,2,2,3,1,3
320,36714,2018-10-24 00:00:00,30,2018-10-24 07:30:00,45,3.0,3,3,0,0,0.0,2,0.0,0,0,0,0,0
321,20354,2018-10-24 22:30:00,40,2018-10-24 07:00:00,7.5,2.0,2,2,0,0,0.0,1,1,0,0,3,2,1
322,33357,2018-10-24 10:30:00,45,2018-10-24 07:00:00,7,2.0,3,3,2,3,1.0,1,1,2,2,0,2,1
324,42831,2018-10-24 10:30:00,20,2018-10-24 07:00:00,6 7,0.0,2,3,0,0,0.0,0,0,0,0,3,0,1
325,12620,2018-10-24 10:30:00,15,2018-10-24 07:00:00,7,0.0,2,0,1,3,0.0,0,0,3,0,3,0,0
326,10800,2018-10-24 10:30:00,45,2018-10-24 03:00:00,6,3.0,3,0,0,1,0.0,0,0,2,0,0,1,1
327,44055,2018-10-24 22:00:00,30,2018-10-24 08:00:00,9,0.0,0,0,0,0,0.0,3,0,0,0,3,0,0
328,23953,2018-10-24 20:00:00,1,2018-10-24 06:00:00,7,3.0,3,3,0,1,2.0,3,0,0,0,3,0,1
329,34606,2018-10-24 20:00:00,1,2018-10-24 06:00:00,6,3.0,3,3,0,0,0.0,0,2,2,0,3,3,1
330,34032,2018-10-24 21:00:00,2025,2018-10-24 09:30:00,6,2.0,3,3,0,0,0.0,0,1,1,0,0,1,2
331,14379,2018-10-24 21:30:00,20,2018-10-24 07:30:00,8,1.0,1,0,0,3,0.0,0,1,1,0,3,1,1
332,49168,2018-10-24 23:00:00,30,2018-10-24 08:00:00,5.5,2.0,1,3,0,0,0.0,0,0,1,0,2,1,1
333,27411,2018-10-24 10:00:00,45,2018-10-24 05:00:00,4,3.0,3,2,0,0,1.0,1,0,1,0,1,1,2
334,44478,2018-10-24 10:00:00,20,2018-10-24 05:00:00,7,1.0,3,3,0,0,0.0,0,0,0,0,0,1,2
335,16106,2018-10-24 20:30:00,10,2018-10-24 06:00:00,8,2.0,3,2,0,0,0.0,0,0,0,0,3,0,1
336,16553,2018-10-24 20:30:00,30,2018-10-24 06:30:00,6,3.0,1,0,0,0,1.0,1,1,0,0,3,2,1
337,21396,2018-10-24 23:00:00,15,2018-10-24 06:30:00,7,0.0,0,1,0,0,0.0,0,0,0,0,0,0,0
338,29691,2018-10-24 23:00:00,40,2018-10-24 06:30:00,5,0.0,0,3,0.0,0,2.0,2,0,2,0,3,2,1
339,10791,2018-10-24 21:30:00,10,2018-10-24 06:45:00,5.5,1.0,3,3,0,0,0.0,1,0,0,0,0,0,0
340,25459,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,2,2,3,3,3.0,3,1,2,0,0,0,1
341,42642,2018-10-24 21:30:00,45,2018-10-24 06:30:00,6,3.0,3,2,1,0,0.0,0,1,3,2,1,2,1
342,16605,2018-10-24 21:30:00,,2018-10-24 06:30:00,3,3.0,3,2,3,2,2.0,3,3,3,3,3,1,3
343,17182,2018-10-24 21:30:00,45,2018-10-24 06:30:00,4,3.0,3,1,0,0,0.0,0,0,0,0,0,0,2
344,23919,2018-10-24 21:30:00,3,2018-10-24 06:30:00,4 5,0.0,0,0,0,0,0.0,0,0,3,0,3,0,1
345,48110,2018-10-24 21:30:00,5,2018-10-24 06:30:00,6,3.0,3,0,1,2,2.0,2,2,1,0,0,3,1
346,40594,2018-10-24 21:30:00,10,2018-10-24 06:30:00,8,0.0,1,3,0,1,0.0,0,0,0,0,0,0,0
347,20572,2017-10-07 00:00:00,20,2017-06-07 00:00:00,5.5,1.0,1,1,0,1,1.0,1,0,0,0,0,0,1
348,49436,2017-10-07 00:00:00,5,2018-10-24 05:15:00,6:45:00,0.0,3,0,1,0,0.0,1,0,0,1,1,0,2
349,45127,2017-10-07 00:00:00,605,2018-10-24 05:15:00,4,0.0,3,3,0,0,0.0,0,1,0,0,0,0,2
350,42347,2017-10-07 00:00:00,15,2018-10-24 05:15:00,45,1.0,1,3,0,0,0.0,0,1,0,0,0,0,1
351,45281,2017-10-07 00:00:00,10,2018-10-24 05:15:00,6 7,1.0,2,2,3,0,1.0,3,0,3,3,0,2,1
352,18059,2018-10-24 23:00:00,15,2018-10-24 06:00:00,7,1.0,3,3,0,0,1.0,1,1,1,0,0,0,1
353,46059,2018-10-24 23:00:00,60,2018-10-24 06:00:00,57,2.0,3,3,0,0,0.0,0,0,0,0,0,0,1
354,12183,2018-10-24 22:00:00,15,2018-10-24 07:00:00,8,0.0,2,2,0,0,0.0,0,0,0,0,0,0,0
355,16152,2018-10-24 22:30:00,2,2018-10-24 07:00:00,8.5,0.0,0,0,0,0,0.0,0,0,0,0,0,0,0
356,11256,2018-10-24 22:30:00,5,2018-10-24 07:00:00,8,0.0,1,2,0,0,0.0,0,0,0,1,0,1,0

In [349]:
df.to_csv('cleanedData.csv', sep='\t')